body {
    margin: 0;
    padding: 0;
    background-image: url('./img/fondo_de_marmol.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los botones a la izquierda */
    position: absolute;
    left: 20px; /* Ajusta esta medida según sea necesario */
}

.button-container button {
    background-image: url("./img/fondo_de_marmol.jpeg");
    border: none;
    padding: 15px;
    margin: 10px 0; /* Espacio entre los botones en vertical */
    cursor: pointer;
    border-radius: 50%;
    font-size: 40px;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: rgba(255, 255, 255, 1);

}


.down-button {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Agrega sombra al botón hacia abajo */
}

.circles-container {
    position: relative;
    width: 600px; /* Ajustado para ser más grande */
    height: 600px; /* Ajustado para ser más grande */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.circle {
    background-image: url(./img/fondo_de_marmol.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

/* Tamaños y posiciones de los círculos */
.circle1 {
    width: 500px;
    height: 500px;
    z-index: 1;
}

.circle2 {
    width: 400px;
    height: 400px;
    z-index: 2;
}

.circle3 {
    width: 300px;
    height: 300px;
    z-index: 3;
}

.circle4 {
    width: 200px;
    height: 200px;
    z-index: 4;
}

.circle5 {
    width: 100px;
    height: 100px;
    z-index: 5;
}

.selected {
    outline: 2px solid red; /* Resalta el círculo seleccionado */
}

.icon-strip1, .icon-strip2, .icon-strip3, .icon-strip4, .icon-strip5 {
    position: absolute;
    top: 50%; /* Ajusta los iconos al centro vertical del círculo */
    left: 50%; /* Ajusta los iconos al centro horizontal del círculo */
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    position: absolute;
    font-size: 12px; /* Ajusta el tamaño de los íconos según sea necesario */
}
.icon-strip1 .icon:nth-child(1) { transform: rotate(0deg) translate(225px); }
.icon-strip1 .icon:nth-child(2) { transform: rotate(72deg) translate(225px); }
.icon-strip1 .icon:nth-child(3) { transform: rotate(144deg) translate(225px); }
.icon-strip1 .icon:nth-child(4) { transform: rotate(216deg) translate(225px); }
.icon-strip1 .icon:nth-child(5) { transform: rotate(288deg) translate(225px); }
.icon-strip2 .icon:nth-child(1) { transform: rotate(0deg) translate(180px); }
.icon-strip2 .icon:nth-child(2) { transform: rotate(72deg) translate(180px); }
.icon-strip2 .icon:nth-child(3) { transform: rotate(144deg) translate(180px); }
.icon-strip2 .icon:nth-child(4) { transform: rotate(216deg) translate(180px); }
.icon-strip2 .icon:nth-child(5) { transform: rotate(288deg) translate(180px); }
.icon-strip3 .icon:nth-child(1) { transform: rotate(0deg) translate(135px); }
.icon-strip3 .icon:nth-child(2) { transform: rotate(72deg) translate(135px); }
.icon-strip3 .icon:nth-child(3) { transform: rotate(144deg) translate(135px); }
.icon-strip3 .icon:nth-child(4) { transform: rotate(216deg) translate(135px); }
.icon-strip3 .icon:nth-child(5) { transform: rotate(288deg) translate(135px); }
.icon-strip4 .icon:nth-child(1) { transform: rotate(0deg) translate(90px); }
.icon-strip4 .icon:nth-child(2) { transform: rotate(72deg) translate(90px); }
.icon-strip4 .icon:nth-child(3) { transform: rotate(144deg) translate(90px); }
.icon-strip4 .icon:nth-child(4) { transform: rotate(216deg) translate(90px); }
.icon-strip4 .icon:nth-child(5) { transform: rotate(288deg) translate(90px); }
.icon-strip5 .icon:nth-child(1) { transform: rotate(0deg) translate(45px); }
.icon-strip5 .icon:nth-child(2) { transform: rotate(72deg) translate(45px); }
.icon-strip5 .icon:nth-child(3) { transform: rotate(144deg) translate(45px); }
.icon-strip5 .icon:nth-child(4) { transform: rotate(216deg) translate(45px); }
.icon-strip5 .icon:nth-child(5) { transform: rotate(288deg) translate(45px); }
